html{
    background-color:rgb(63, 63, 63);
    color:white;
}

#post{
    display:block;
    text-align: center;
    background-color: orange;
    border:1pt solid black;
    margin-left: 18%;
    margin-right: 18%;
    top:5%;
}

#post fieldset{
    padding:40px;
    border:0;
}
#post fieldset input{
    margin:1%;
}
#post label{
    text-align:center;
    font-size:150%;
}

input[type=submit], input[type=button]{
    width: 20em; height: 2em;
    background-color: rgb(63, 63, 63);
    color:orange;
}

input[name=title]{
    padding:1%;
    padding-right:30%;
}
input[name=post]{
    padding:1%;
    padding-right:30%;
    padding-bottom:15%;
}